# Игнорирование папки с временными копиями
LibraryComponents/History/

# Игнорирование файла с логами
LibraryComponents/debug.log

# Игнорирование скомпилированных библиотек
*.IntLib

# Игнорирование папки __Previews
__Previews/

# Игнорирование файла с описанием изменений
forCommit.txt

*.bak